<div class="card border-dark">
    <div class="card-header border-dark ">
            Informations Médecin
            <span class="float-right">
                <button class="btn btn-sm btn-dark">
                        <i class="far fa-edit"></i>
                </button>
            </span>      
    </div>
    <div class="card-body pt-0">

        <div class="text-center mt-0 pt-0">  
            <img src="images/doctor_avatar.png" alt="John Doe" class="mr-3 mt-3 rounded" style="width:120px;">
        </div> 
        <h1 class="mt-2 h4 text-center">BAHOUM Badr Eddine</h1>        

        <h2 class="h6 text-center">N°3 Rue Savoie des Hopitaux, CASABLANCA.</h2>

        <hr>
        <div class="contained-fluid">
            <div class="row">
                <div class="col-6 text-center">
                    <h4 class="pb-0">40</h4>
                    <h6>Patients</h6>
                </div>
                <div class="col-6 text-center">
                    <h4 class="pb-0">10</h4>
                    <h6>Invitations</h6>
                </div>
            </div>
        </div>
        <hr>

        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text">@ Email</span>
            </div>
            <label type="text" class="form-control"> badrbahoum@gmail.com</label>
        </div> 
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text">Téléphone</span>
            </div>
            <label class="form-control">(+212) 661264455</label>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text">Spécialité</span>
            </div>
            <label type="text" class="form-control">Chirurgien Cardiologue</label>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text">Date de naissance</span>
            </div>
            <label type="text" class="form-control">25/10/1996</label>
        </div>
    </div>
</div>