<div class="card border-dark">
    <div class="card-header border-dark">
        Patients
        <span class="float-right">
            <button class="btn btn-sm btn-dark"
                type="button"data-toggle="modal" data-target="#newPatientModal"  >
                <i class="fas fa-user-plus"></i>
            </button>
        </span> 
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <th></th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th></th>
                </thead>
                <tbody>
                    {{#each patients}}
                    <tr>
                        <td>
                            <img src="images/avatar_person.png" alt="KASRI Younes" 
                            class="rounded" style="width:30px;">
                        </td>
                        <td>{{ nom }}</td>
                        <td>{{ prenom }}</td> 
                        <td><button class="btn btn-sm btn-outline-dark"><i class="far fa-eye"></i></button></td>
                    </tr>
                    {{/each}}                                                                                             
                </tbody>
            </table>
        </div>
    </div>
</div>