<div class="container-fluid bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark pb-0 mb-0">
        <a class="navbar-brand" href="/">Assistance Médicale - Partie Médecin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse pl-5" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto m-0">
                {{#if userId}}
                <li class="nav-item">
                    <a href="/" class="nav-link text-white">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a href="/medicaments" class="nav-link text-white">Médicaments</a>
                </li>
                {{/if}}
            </ul> 
            
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white-50 dropdown p-2"
                        href="#"
                        target="popup" 
                        onclick="window.open('https://www.youneskasri.com','popup','width=800,height=600'); return false;">
                        Design & Réalisation www.youneskasri.com
                    </a>
                </li>

                {{#if userId}}
                <li class="nav-item pl-5">
                    <a href="/logout" class="btn btn-dark">
                        <i class="fas fa-sign-out-alt"></i>
                        Deconnexion
                    </a>
                </li>
                {{/if}}
            </ul>             
        </div>
    </nav>
    <div class="pt-1 bg-dark">
    </div>
</div>
