<div class="card border-dark">
    <div class="card-header border-dark">
        Rendez vous
        <span class="float-right">
            <button class="btn btn-sm btn-dark"
            type="button"data-toggle="modal" data-target="#newRdvModal">
                <i class="far fa-calendar-plus"></i>
            </button>
        </span>         
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead> 
                    <th>Patient</th>
                    <th>Date et heure</th>
                    <th>Sujet</th>
                    <th></th>
                </thead>
                <tbody>
                    {{#each rendezVous}}
                        <tr>
                            <td><span class="text-uppercase">{{nom}}</span> {{prenom}}</td>
                            <td>{{dateFormat dateHeure 'DD/MM/YYYY à HH:mm'}}</td>
                            <td aria-label="{{sujet}}">
                                {{substring sujet 0 12}}...
                            </td>
                            <td class="btn-group">
                                <button class="btn btn-sm btn-outline-dark"
                                    target="popup" 
                                    onclick="PopupCenter('rendezVous/{{id}}','Popup', 500, 500); return false;">
                                    <i class="far fa-eye"></i>
                                </button>    
                                    
                                <button class="btn btn-sm btn-outline-dark"
                                    target="popup"
                                    onclick="PopupCenter('rendezvous/{{id}}/edit', 'Popup', 500, 500); return false;"> 
                                    <i class="far fa-edit"></i>
                                </button>
                                <a href="/rendezvous/{{id}}/delete" class="btn btn-outline-danger btn-sm">
                                    <i class="fa fa-trash-alt"></i>
                                </a>    
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
