<div class="card border-dark">
    <div class="card-header border-dark">
        Rendez vous
        <span class="float-right">
            <button class="btn btn-sm btn-dark"
            type="button"data-toggle="modal" data-target="#newRdvModal">
                <i class="far fa-calendar-plus"></i>
            </button>
        </span>         
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead> 
                    <th>Patient</th>
                    <th>Date et heure</th>
                    <th>Sujet</th>
                    <th></th>
                </thead>
                <tbody>
                    {{#each rendezVous}}
                        <tr>
                            <td><span class="text-uppercase">{{nom}}</span> {{prenom}}</td>
                            <td>{{dateFormat dateHeure 'DD/MM/YYYY à HH:mm'}}</td>
                            <td aria-label="{{sujet}}">
                                {{substring sujet 0 12}}...
                            </td>
                            <td class="btn-group">
                                <td><button class="btn btn-sm btn-outline-dark"><i class="far fa-eye"></i></button></td>
                                <!-- <button class="btn btn-outline-dark btn-sm"><i class="fas fa-pencil-alt"></i></button>
                                <button class="btn btn-outline-danger btn-sm"><i class="fas fa-trash-alt"></i></button> -->
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
