
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            {{> infoPatient}}
        </div>
        <div class="col-md-6">
            <h1 class="h3 text-white-50">Prescriptions</h1>
            <table class="table">
                <thead>                    
                    <th>Nom Medicament</th>
                    <th>Indications</th>
                    <th>Prescrit par Dr.</th>
                    <th>Quantité prise</th>
                    <th>Info Mutuelle</th>
                </thead>
                <tbody>
                    {{#each prescriptions}}
                    <tr>
                        <td>{{nomMedicament}}</td>
                        <td>{{nomMedecin}} {{prenomMedecin}}</td>
                        <td>{{indications}}</td>
                        <td>{{quantitePrise}}</td>
                        <td>
                            <button class="btn btn-dark btn-sm">
                                <i class="fas fa-info"></i>
                            </button>
                        </td>
                    </tr>
                    {{/each }}
                </tbody>
            </table>
        </div>
    </div>
</div>

